[MESSAGES CONTROL]
disable = missing-function-docstring,
          missing-module-docstring,
          missing-docstring,unknown-option-value,
          line-too-long,
          invalid-name,
          too-few-public-methods-init,
          no-member,